.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}


body {
    background-color: #1e1c27;
}

.nt {
    text-align: center;
    padding-top: 2%;
}

.name{
    color: white;
    font-size: 230%;
}

.titre {
    color: #5ce1e6;
    font-size: 170%;
}

.compApt {
    padding-top: 15%;
}

a {
    color: white;
    font-size: 20px;
}

p {
    color: white;
    font-size: 18px;
}

.phone {
    width: 18px;
    height: auto;
}

.perso{
    border-right: #5ce1e6 solid;
    text-align: center;
}

.hun {
    color: #5ce1e6;
    border-right: #5ce1e6;
}

.exp{
    text-align: center;
}

.hdeux {
    color: #5ce1e6;
}

ul,
li {
    color: transparent;
}