.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

@media only screen and (max-width:600px) {

    [class*="col-"] {
        width: 100%;
        background-color: rgb(61, 61, 61);
    }

}

body {
    background-color: rgb(61, 61, 61);
}

.nt {
    text-align: center;
    color: white;
    padding-top: 4%;
}


.titre {
    color: white;
    font-size: 13px;
}

.compApt {
    padding-top: 15%;
}


#inf {
    text-align: flex-start;
}

a {

    color: white;
    font-size: 20px;
}

p {
    color: white;
    font-size: 18px;
}

.phone {
    width: 18px;
    height: auto;
}

.competence {
    color: white;
    border-right: 6px rgb(0, 0, 0, 0.3) solid;
}

.aptitude {
    color: white;
}

.hdeux {
    text-align: center;
}

ul,
li {

    color: transparent;
}