/** responvice **/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 25px;

}

/** fin responcive **/

body {
    background-color: #1e1c27;
}

/** banniere **/

.nt {
    text-align: center;
    padding-top: 2%;
}

.name {
    color: white;
    font-size: 230%;
}

.titre {
    color: #5ce1e6;
    font-size: 170%;
}

/** fin banniere **/

/** PROJET GITHUB **/

.github{
    display: flex;
    justify-content: center;
    border-top: #5ce1e6 solid;
    border-bottom: #5ce1e6 solid;
}

/** fin projet github **/

/** INFO **/

.boxtrois{
    margin-top: 2%;
}

#inf {
    display: flex;
    color: white;
    font-size: 20px;
}

.perso {
    border-right: #5ce1e6 solid;
    display: flex;
    text-align: center;
    flex-direction: column;
}

/** fin info **/

/** EXPERIENCE **/

.exp {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.experience{
    display: flex;
    color: white;
    font-size: 20px;
}

/** fin experience **/

ul,
li {
    padding-left: 20%;
    display: flex;
    justify-content: center;
    color: transparent;
    flex-direction: column;
    padding: 3%;
}