/** responvice **/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 25px;

}

/** fin responcive **/

body {
    background-color: #1e1c27;
}

/** banniere **/

.nt {
    text-align: center;
    padding-top: 2%;
}

.name {
    color: white;
    font-size: 230%;
}

.titre {
    color: #5ce1e6;
    font-size: 170%;
}

/** fin banniere **/

/** PROJET GITHUB **/

.github {
    display: flex;
    justify-content: center;
    border-top: #5ce1e6 solid;
    padding-bottom: 315px;
    border-bottom: #5ce1e6 solid;
    align-items: center;
    flex-direction: column;
}

.carousel_wrapper {
    position: relative;
    width: 320px;
    margin: 35px auto 0 auto;
    perspective: 1000px;
}

.carousel {
    position: flex;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-412px);
    /* add reverse transformation from the slides */
    animation: swirl 40s steps(10000, end) infinite;
    /* run `swirl` animation (defined at end of CSS) infitely, with animation lasting 40 seconds, and 10,000 steps between the FROM and TO values in the animation for a smooth rotation */
}

.slide {
    position: absolute;
    top: 0px;
    left: 60px;
    width: 200px;
    height: 115px;
}

.slide img {
    width: 100%;
    height: 100%;
    border: 3px inset #5ce1e6;
    box-shadow: 0 0 15px 3px #5ce1e681;
}

.slide.one {
    transform: rotateY(0deg) translateZ(600px);
}

.slide.two {
    transform: rotateY(40deg) translateZ(600px);
}

.slide.three {
    transform: rotateY(80deg) translateZ(600px);
}

.slide.four {
    transform: rotateY(120deg) translateZ(600px);
}

.slide.five {
    transform: rotateY(160deg) translateZ(600px);
}

.slide.six {
    transform: rotateY(200deg) translateZ(600px);
}

.slide.seven {
    transform: rotateY(240deg) translateZ(600px);
}

.slide.eight {
    transform: rotateY(280deg) translateZ(600px);
}

.slide.nine {
    transform: rotateY(320deg) translateZ(600px);
}

@keyframes swirl {
    from {
        transform: rotateY(-360deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

/** fin projet github **/

/** INFO **/

.boxtrois {
    margin-top: 2%;
}

#inf {
    display: flex;
    color: white;
    font-size: 20px;
}

.perso {
    border-right: #5ce1e6 solid;
    display: flex;
    text-align: center;
    flex-direction: column;
}

/** fin info **/

/** EXPERIENCE **/

.exp {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.experience {
    display: flex;
    color: white;
    font-size: 20px;
}

/** fin experience **/

ul,
li {
    padding-left: 20%;
    display: flex;
    justify-content: center;
    color: transparent;
    flex-direction: column;
    padding: 3%;
}